---
name: "Java + Maven"
"on":
  push:
    branches:
    - "main"
  pull_request:
    branches:
    - "main"
jobs:
  build:
    runs-on: "ubuntu-latest"
    env:
      GH_TOKEN: "${{ secrets.GH_TOKEN }}"
    timeout-minutes: 360
    permissions:
      actions: "read"
      contents: "read"
      security-events: "write"
    strategy:
      fail-fast: false
      matrix:
        language:
        - "java"
    steps:
    - uses: "actions/checkout@v4"
    - name: "Initialize CodeQL"
      uses: "github/codeql-action/init@v3"
      with:
        languages: "${{ matrix.language }}"
    - name: "Set up JDK 21"
      uses: "actions/setup-java@v4"
      with:
        distribution: "zulu"
        java-version: "21"
        java-package: "jdk"
        cache: "maven"
    - name: "Setup node"
      uses: "actions/setup-node@v4"
      with:
        node-version: 20
        cache: "yarn"
        cache-dependency-path: "ui/app/yarn.lock"
    - name: "Set up Maven"
      uses: "stCarolas/setup-maven@v5"
      with:
        maven-version: "3.9.9"
    - run: "echo build triggered by: ${{ github.actor }}"
    - run: "npm set \"//npm.pkg.github.com/:_authToken=$GH_TOKEN\""
    - run: "node --version"
    - run: "npm --version"
    - run: "npx --version"
    - run: "mvn --version"
    - run: "yarn --version"
    - run: "corepack enable"
    - run: "corepack prepare yarn@stable --activate"
    - run: "yarn set version stable"
    - run: "yarn --version"
    - run: "make -C ui/app install test buildDev"
    - run: "make M='mvn -s settings.xml -T 1C' fmtCheck"
    - run: "make M='mvn -s settings.xml -T 1C'"
    - name: "Perform CodeQL Analysis"
      uses: "github/codeql-action/analyze@v3"
    - name: "Submit Dependency Snapshot"
      uses: "advanced-security/maven-dependency-submission-action@v4"
      with:
        token: "${{ secrets.GH_TOKEN }}"
        maven-args: "-s settings.xml"
