---
name: "Java + Maven"
"on":
  push:
    branches:
    - "main"
  pull_request:
    branches:
    - "main"
jobs:
  build:
    runs-on: "ubuntu-latest"
    env:
      GH_TOKEN: "${{ secrets.GH_TOKEN }}"
    steps:
    - uses: "actions/checkout@v4"
    - name: "Set up JDK 22"
      uses: "actions/setup-java@v4"
      with:
        distribution: "zulu"
        java-version: "22"
        java-package: "jdk"
        cache: "maven"
    - name: "Setup node"
      uses: "actions/setup-node@v4"
      with:
        node-version: 20
        cache: "yarn"
        cache-dependency-path: "ui/app/yarn.lock"
    - name: "Set up Maven"
      uses: "stCarolas/setup-maven@v5"
      with:
        maven-version: "3.9.6"
    - run: "npm set \"//npm.pkg.github.com/:_authToken=$GH_TOKEN\""
    - run: "node --version"
    - run: "npm --version"
    - run: "mvn --version"
    - run: "yarn --version"
    - run: "corepack enable"
    - run: "corepack prepare yarn@stable --activate"
    - run: "yarn set version stable"
    - run: "yarn --version"
    - run: "make M='mvn -s settings.xml -T 1C' fmtCheck"
    - run: "make M='mvn -s settings.xml -T 1C'"
